<p class = "pageHeader">Clothes</p>

<div class="row">

        #foreach($clothing in $clothes)
        <div class="column">
            <img class="imgIndex" src="$clothing.getImage()" alt="$clothing.getTitle()" title="$clothing.getTitle()"><br>
            $clothing.getTitle()<br>

            £$clothing.getPrice()<br>
            <a href="/manager/clothes/$clothing.getId()">Show</a><br>
        </div>
        #end

</div>





