<p class = "pageHeader">Clothes</p>

<div class = "container">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        #foreach($clothing in $clothes)
        <tr>
            <td>$clothing.getTitle()</td>
            <td>$clothing.getDescription()</td>
            <td>$clothing.getPrice()</td>
        </tr>
        #end
    </table>
</div>
