
<div class="row">

        #foreach($clothing in $clothes)
        <div class="column">
            <a href="/manager/clothes/$clothing.getId()"><img class="imgIndex" src="$clothing.getImage()" alt="$clothing.getTitle()" title="$clothing.getTitle()"></a><br>
            $clothing.getTitle()<br>

            £$clothing.getPrice()<br>
            <hr width=30%>
        </div>
        #end

</div>





