
<div class = "container">

    <img src="$clothing.getImage()" alt="$clothing.getTitle()" title="$clothing.getTitle()"><br>

    <b>$clothing.getTitle()</b><br>
    $clothing.getDescription()<br>
    £$clothing.getPrice()<br>

    <br>

    <a href="/clothes/$clothing.getId()/edit">Edit Item</a>

    <form action="/clothes/$clothing.getId()/delete" method="post">
        <input type="submit" value="Delete" class="button"/>
    </form>

</div>
