
<p class = "pageHeader">Shoes</p>

<div class="row">

        #foreach($shoe in $shoes)
        <div class="column">
            <img class="imgIndex" src="$shoe.getImage()" alt="$shoe.getTitle()" title="$shoe.getTitle()"><br>
            $shoe.getTitle()<br>

            £$shoe.getPrice()<br>
            <a href="/manager/shoes/$shoe.getId()">Show</a><br>
        </div>
        #end

</div>



