
    <div class="row">

        #foreach($shoe in $shoes)
           <div class="column">
               <a href="/shoes/$shoe.getId()"><img class="imgIndex" src="$shoe.getImage()" alt="$shoe.getTitle()" title="$shoe.getTitle()"></a><br>
                $shoe.getTitle()<br>


                <b>£$shoe.getPrice()</b><br>

               <hr width=30%>

            </div>
        #end
    </div>



