<p class = "pageHeader">Accessories</p>

<div class = "container">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        #foreach($product in $products)
        <tr>
            <td>$product.getTitle()</td>
            <td>$product.getDescription()</td>
            <td>$product.getPrice()</td>
        </tr>
        #end
        #end
    </table>
</div>
