
<div class="row">
 
        #foreach($newProduct in $newProducts)
         <div class="column">
             <a href="/newin/$newProduct.getId()"><img class="imgIndex" src="$newProduct.getImage()" alt="$newProduct.getTitle()" title="$newProduct.getTitle()"></a><br>
             <p>$newProduct.getTitle()</p>
             <p><b>£$newProduct.getPrice()</b></p>
             <hr width=30%>

        </div>
        #end

</div>



