<p class = "pageHeader">Accessories</p>

<div class = "container">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        #foreach($accessory in $accessories)
        <tr>
            <td>$accessory.getTitle()</td>
            <td>$accessory.getDescription()</td>
            <td>$accessory.getPrice()</td>
        </tr>
        #end
    </table>
</div>
