<p class = "pageHeader">Accessories</p>

<div class="row">
  
        #foreach($accessory in $accessories)
        <div class="column">
            <img class="imgIndex" src="$accessory.getImage()" alt="$accessory.getTitle()" title="$accessory.getTitle()"><br>
            $accessory.getTitle()<br>

            <b>£$accessory.getPrice()</b><br>
            <a href="/manager/accessories/$accessory.getId()">Show</a><br>
        </div>
        #end
</div>



