<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/Logo.png" sizes="16x16" />
    <title>shopBee</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
<div class="nav">
    <div class="header">
        <img class="centreImage" src="/images/shopBee.png">

    </div>
<div class="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/newin">New In</a></li>
        <li><a href="/clothes">Clothes</a></li>
        <li><a href="/shoes">Shoes</a></li>
        <li><a href="/accessories">Accessories</a></li>
         <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a></li>

    </ul>
</div>
</div>
<div class="container">
    #parse( $template )
</div>
<div class="homepageImage"></div>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b4e1c288745a053"></script>



</body>
<footer class="footer">
&copy; Tarheen 2018
</footer>
</html>
