<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/Logo.png" sizes="16x16" />
    <title>shopBee</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>


<div class="nav">
    <img src="/images/ShopBee.png">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/newin">New In</a></li>
        <li><a href="/clothes">Clothes</a></li>
        <li><a href="/shoes">Shoes</a></li>
        <li><a href="/accessories">Accessories</a></li>
         <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
    </ul>
</div>
<div class="container">
    #parse( $template )
</div>

</body>
<footer class="footer"><a href="https://www.facebook.com/" class="fa fa-facebook fa-2x"></a>
    <a align="left" href="https://www.twitter.com" class="fa fa-twitter fa-2x"></a>
    <a align="left" href="#" class="fa fa-instagram fa-2x"></a>
    <a align="left" href="#" class="fa fa-pinterest fa-2x"></a>
</footer>
</html>
