<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/Logo.png" sizes="16x16" />
    <title>shopBee</title>

</head>
<link rel="stylesheet" href="/style.css">
<body>
<div class="nav">
    <div class="header">
        <img class="centreImage" src="/images/shopBee.png">

    </div>
<div class="header">
    <ul>
        <li><a href="/manager">Home</a></li>
        <li><a href="/manager/newin">New In</a></li>
        <li><a href="/manager/clothes">Clothes</a></li>
        <li><a href="/manager/shoes">Shoes</a></li>
        <li><a href="/manager/accessories">Accessories</a></li>
        <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
        <li><a href="/">The Shop</a></li>
    </ul>
</div>
</div>
</body>
<div class="container">
    #parse( $template )
</div>


</body>
<footer class="footer">
  &copy; Tarheen 2018
</footer>
</html>