<p class = "pageHeader">New In</p>

<div class="row">

        #foreach($newProduct in $newProducts)
        <div class="column">
            <img class="imgIndex" src="$newProduct.getImage()" alt="$newProduct.getTitle()" title="$newProduct.getTitle()"><br>
            $newProduct.getTitle()<br>

            £$newProduct.getPrice()<br>
            <a href="/manager/newin/$newProduct.getId()">Show</a><br>
        </div>
        #end

</div>



